html {
  height: 100%;
  width: 100%;
}

-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;

body {
  background-color: #f9f7ff;
  font-family: "Comic Sans MS", Arial;
  font-size: 105%;
}

a:focus {
  color: grey;
}

a:hover {
  color: grey;
}

footer {
  background-color: #eeeeff;
  width: 100%;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 3%;
}

nav {
  padding: 0px 0px 0px 10%;
  display: flex;
  background-color: #eeeeff;
  flex-wrap: wrap;
  flex-direction: row;
  height: 3%;
}

nav li{
  list-style-type: none;
  display: inline-block;
  width: 24.5%;
  justify-content: space-between;
  box-sizing: content-box;
}

nav a {
  text-decoration: none;
  color: black;
  transition: font-size 0.5s linear 0.5s, color 0.5s linear 0.5s,  font-family 0.5s linear 0.5s;
}

nav a:hover {
  font-size: 120%;
  color: brown;
  font-family: roboto;
}

nav img{
  width: 10%;
}

main {
  background-color: #f5f5ff;
  font-size: 130%;
}

h1 {
  font-variant: small-caps;
  text-align: center;
}

p {
  line-height: 25px;
}

/*li {
  display: inline-block;
  width: 30%;
}*/

.centered {
  text-align: center;
}

.ourHeroFlex {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.patchNotesFlex {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f9f7ff;
}

.patchNotesFlex ol {
  list-style-type: decimal-leading-zero;
}

.skinsGrid {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
  grid-row-gap: 0.5%;
  background-color: #f9f7ff;
}

.skinsGrid figure {
  align-items: center;
}

.skinsGrid figure:last-child {
  align-items: center;
  margin-bottom: 100px;
}

.skinsGrid div:nth-child(odd) figure img {
  border: outset, 2px, #5e3f8b;
  border-radius: 5%;
}

.skinsGrid div:nth-child(even) figure img {
  border: inset, 2px, #5e3f8b;
  border-radius: 5%;
}

.skinsGrid img {
  width: 100%;
  padding: 1px;
  margin: 0px auto;
}

.skinsGrid p {
    line-height: 10px;
}

.offscreen {
  position: absolute;
  left: -100%;
}

.offscreen:focus {
  left: 0%;
  top: 6%;
}

.open{
  display: block;
}

.closed{
  display: none;
}

.gall{
  display: inline-block;
  position: relative;
  left: 11.5%;
  margin: 10px 1%;
  width: 7%;
}

.gall:focus, .gall:hover, button:focus{
  border:solid 2px black;
}

#gallery{
  width: 70%;
  height: 530px;
  color: white;
  text-align: center;
  background-color: grey;
  position: relative;
  left:15%;
  border:dotted 5px black;
  line-height: 1px;
}

#gallery img{
  width: 100%;
}